/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    src: url('../fonts/IBMPlexSans-Regular.otf');
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    src: url('../fonts/IBMPlexSans-Medium.otf');
}

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --global-color-beige: #E4A06C;
    --global-color-white: #ffffff;
    --global-color-weakbeige: #ce7735;


    --global-color-neutral-x-light:  #f0f1f2;
    --global-color-neutral-light: #c6cacc;
    --global-color-neutral-dark: #a1a5a6;
    --global-color-neutral-x-dark: #616466;
    --global-color-neutral-xx-dark: #17191a;

    /* fonts */
    

    /* shadows */
    --global-input-shadow: 0 0 0 3px var(--global-color-beige);
    --global-box-shadow: 0 0 1px 4px rgba(23, 25, 26, 0.1);

    /* borders */
    --global-border-width: 2px;
    --global-border-radius: 4px;
    --global-input-border: var(--global-border-width) solid var(--global-color-beige);

    /* transitions */
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/
#mapid{
    z-index: 1;
}
/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--global-color-neutral-xx-dark);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



::-moz-selection {
    background: var(--global-color-blue);
    color: white;
    text-shadow: none;
}

::selection {
    background: var(--global-color-blue);
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    font-size: 1.75rem;
    line-height: 48px;
    margin: 0 0 1rem;

}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 1.5rem;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 1.5rem;
}

h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
    opacity: 1;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    transition: all var(--transition-alpha);
    color: var(--color-alpha);
    outline-color: var(--color-alpha);
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: var(--color-alpha);
}

a:hover,
a:focus {
    color: var(--color-alpha-light);
}

label,
input {
    display: inline-block;
}

label {
    margin-bottom: 0.5rem;
}

select {
    width: 100%;
}

input::placeholder {
    color: var(--color-neutral);
}

input:disabled {
    cursor: not-allowed;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/
.o-background{
    background-image: url(https://miro.medium.com/max/4064/1*qYUvh-EtES8dtgKiBRiLsA.png);
    background-repeat: no-repeat;
}

.o-grid{
	display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    grid-gap: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 32rem;
}
.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 32rem;
    width: 100%;
}


@media (min-width: 62rem) {
	.o-grid{
		grid-template-columns: auto auto;
        height: 100vh;
        grid-gap: 0;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 62rem;
    }

}

.o-row {
    position: relative;
    padding: 24px 24px 0;
}

.o-list{
    display: inline;
}

/* size modifiers */

.o-row--lg {
    padding-top: 48px;
    padding-bottom: 24px;
}

.o-row--xl {
    padding-top: 72px;
    padding-bottom: 48px;
}

@media (min-width: 768px) {
    .o-row {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media (min-width: 992px) {
    .o-row--xl {
        padding-top: 96px;
        padding-bottom: 72px;
    }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/



/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    position: relative;
}

.o-section + .o-section {
    padding-top: 8px;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.o-center{
    display: flex;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.c-form { 
    background-color: var(--global-color-white);
    padding: 2rem;
    box-shadow: var(--global-box-shadow);
}



.c-header--lg {
    font-weight: 500;
    margin: 0.5rem 0 1rem 7rem;

}

.c-header--sm {
    font-weight: 500;
    margin: 2rem 0 .625rem 0;
}

.c-input {
    all: unset;
    box-sizing: border-box;
    display: block;
    font-family: inherit;
    font-weight: 400;
    border: var(--global-input-border);
    border-radius: var(--global-border-radius);
    padding: 1rem;
    width: 100%;
    margin-right: 16px;
}

.c-input:focus,
.c-input:active {
    box-shadow: var(--global-input-shadow);
}


.c-button {
    display: block;

    font-family: inherit;
    font-weight: 500;
    
    background-color: var(--global-color-beige);
    color: var(--global-color-white);

    border: var(--global-border-width) solid  transparent;
    border-radius: var(--global-border-radius);
    padding: 1rem 2rem;

    outline: none;
}
.c-button--navigation{
    width: 45%;
}

.c-button:focus,
.c-button:active {
    outline: none;
    box-shadow: 0 0 3px 3px var(--global-color-weakbeige);
}

.c-button:hover {
    background-color: var(--global-color-weakbeige);
}

.c-buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0rem;
    margin-bottom: 1rem;
    z-index: 100;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral-light {
    color: lightGray;
}

.u-color-neutral {
    color: var(--global-color-neutral-x-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 32em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 14px;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
